<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-menu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a routerLink="" class="navbar-brand">Angular2 Lumen Demo</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-menu">
    <ul class="nav navbar-nav navbar-right">
      <li><a>Hi {{currentUser.user.username}}!</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<h3>All registered customers:</h3>
<p>
    <a [routerLink]="['/customers/new']" class="btn btn-success">Add New</a>
</p>
<table class="table">
    <tbody>
        <tr *ngFor="let customer of customers">
            <th>{{customer.name}}</th>
            <td>{{customer.phone}}</td>
            <td>{{customer.address}}</td>
            <td><a [routerLink]="['/customers/' + customer.id]" class="btn btn-link">Edit</a>&nbsp;|&nbsp;
                <a (click)="delete(customer.id)" class="btn btn-link">Delete</a></td>
        </tr>
    </tbody>
</table>
